{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="formulario rounded px-5">
  <div class="text-center mb-4">
    <img class="mb-4"src="{% static 'images/logo.png' %}" alt="" width="90" height="90">
    <h1 class="titulo mb-3 font-weight-bold">GGames</h1>
    <h2 class="titulo mb-3 font-weight-bold">Reinicie su Password</h2>
    <p class="text-light">Se ha establecido su nueva contraseña. Puede iniciar sesión ahora en el<a href="{% url 'login' %}">página de inicio de sesión</a></p>
  </div>
</div>
{% endblock %}