{% extends 'base.html' %}
{% load static %}
 
{% block content %}
<form method="post" class="formulario rounded px-5">
  <div class="text-center mb-4">
      <img class="mb-4"src="{% static 'images/logo.png' %}" alt="" width="90" height="90">
      <h1 class="titulo mb-3 font-weight-bold">Olvidaste tu contraseña?</h1>
      <p class="text-light">Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva</p>
  </div>
  {% csrf_token %}
  <div class="formulario-label">
      {{ form.email }}
      <label for="usuario">Ingrese Email</label> 
  </div>
  <button type="submit" class="btn btn-danger btn-block">Envíame instrucciones!</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; GGames-2020</p>
</form>
{% endblock %}