{% extends "base_generic.html" %}
{% block content %}
<section>
    <article class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
        <h1>Lista de Compañias</h1>
    </article>
    <article class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
        {% if compañia_list %}
        <ul>
            {% for compañia in compañia_list %}
            <div>
                <li style="color: aliceblue;">
                    <a href="{{ compañia.get_absolute_url }}" >{{compañia.compañia}}</a>
                </li>
            </div>
            {% endfor %}
            
        </ul>
        {% else %}
            <p>No hay Compañias disponible</p>
        {% endif %}
    </article>
</section>
{% endblock %}