{% extends "base_generic.html" %}
{% block content %}
<section>
    <article class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
        <h1>Lista de Generos</h1>
    </article>
    <article class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
        {% if genero_list %}
        <ul>
            {% for genero in genero_list %}
            <div>
                <li style="color: aliceblue;">
                    <a href="{{ genero.get_absolute_url }}" >{{genero.nombre_genero}}</a>
                </li>
            </div>
            {% endfor %}
            
        </ul>
        {% else %}
            <p>No hay Generos disponible</p>
        {% endif %}
    </article>
</section>
{% endblock %}